<% if @user.errors.any? %>
<ul>
	<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
<% end %>
</ul>

<%= render 'navbar' %>
<h3> Editar usuario </h3>
<%= render 'signup_form' %>
