<% if @user.errors.any? %>
<ul>
	<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
<% end %>
</ul>
<%= render 'navbar' %>
<h3> Editar usuario </h3>
<div class="col-xs-9">
<%= render 'form' %>
</div>