<body id="log_in_background">
	<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	<% end %>
	</ul>

	<div id="signup">
		<div class="row">
			<h2 class="text-center"> Registro de administrador </h2><br/>
		</div>
		<%= render 'form' %>
	</div>
</body>
