<body class="log_in_background">
	<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	<% end %>
	</ul>

	<div id="signup">
		<h3 class="text-center">Registro de administrador</h3><br/>
		<%= render 'form' %>
	</div>
</body>
