<%= render 'navbar' %>

<h3>Ajustes  </h3>
<br/>
<% if @client != nil %>
	<h4>Administrador de: </h4>
	<%= @client.clinic_name %>
<% else %>
	<%= link_to "Crear clínica", new_client_path %>
<% end %>
