<div class="col-xs-1">
  <div id="navbar">
  	<ul class="list-unstyled">
      <li>
        <%= link_to user_path(current_user) do  %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <% end %>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
  	  </li>
      <li>
        <%= link_to '/users/settings' do  %>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <% end %>
      </li>
  	</ul>
  </div>
</div>