<!DOCTYPE html>
<html>
<head>
  <title>Wayfix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topbar">
  	<img src="/assets/wayfix.png">
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
<footer>
  <p>
    ©Wayfix 2016
  </p>
</footer>
</html>
